.container {
  min-height: 100vh;
  width: 100%;
  max-width: 50rem;
  padding: 2rem 0rem;
  display: flex;
  box-sizing: border-box;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}
