.container {
  min-height: 100vh;
  max-width: 50rem;
  padding: 4rem 2rem;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}
