.button {
  margin: 0;
  padding: 1rem 2rem;
  width: 80%;

  border: 0.3rem solid var(--secondary-color);
  border-radius: 0.2rem;
  font-weight: 500;
  color: var(--primary-color);

  position: relative;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
  margin-top: 4rem;
}

.button:hover {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

.button:after {
  content: "";
  background: var(--background-color);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
