.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  color: var(--background-color);
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
