.container {
  padding-bottom: 3rem;
}

.history {
  display: flex;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
  font-size: clamp(1em, 1em + 1vw, 1.5em);
  line-height: clamp(1.6em, 1.6em + 1vw, 2em);
  margin: 0;
  padding: 1rem 3rem;
  text-align: justify;

  color: var(--secondary-color);
}

.border_right {
  border-right: 0.5rem solid var(--primary-color);
  padding: 1rem 2.5rem 1rem 3rem;
  text-align: justify;
  display: flex;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
  font-size: clamp(1em, 1em + 1vw, 1.5em);
  line-height: clamp(1.6em, 1.6em + 1vw, 2em);
  margin: 0;

  color: var(--secondary-color);
}

.border_left {
  border-left: 0.5rem solid var(--secondary-color);
  padding: 1rem 3rem 1rem 2.5rem;
  text-align: justify;
  display: flex;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
  font-size: clamp(1em, 1em + 1vw, 1.5em);
  line-height: clamp(1.6em, 1.6em + 1vw, 2em);
  margin: 0;

  color: var(--secondary-color);
}
