.container {
  padding-bottom: 3rem;
}

.history {
  display: flex;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;

  font-size: clamp(1em, 1em + 1vw, 1.5em);
  line-height: clamp(1.6em, 1.6em + 1vw, 2em);
  margin: 0;
  padding: 1% 6%;

  color: #727272;
}

.border_right {
  border-right: 0.6rem solid #867265;
  display: flex;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;

  font-size: clamp(1em, 1em + 1vw, 1.5em);
  line-height: clamp(1.6em, 1.6em + 1vw, 2em);
  margin: 0;
  padding: 1% 6%;

  color: #727272;
}

.border_left {
  border-left: 0.6rem solid #30601b;
  display: flex;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;

  font-size: clamp(1em, 1em + 1vw, 1.5em);
  line-height: clamp(1.6em, 1.6em + 1vw, 2em);
  margin: 0;
  padding: 1% 6%;

  color: #727272;
}
