.conditions {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5vw;
  align-items: center;
  justify-content: top;

  padding: 0 3rem 1rem 3rem;
}

.span {
  min-width: 100%;
  height: 2rem;

  margin-bottom: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--primary-color);
}

.image path {
  transition: 0.1s;
  border-radius: 51%;
  margin: 3rem auto;
  align-items: center;
  justify-content: center;
  border: solid 2px var(--background-color) !important;
  color: red !important;
}

.image:hover path {
  border: solid 2px var(--secondary-color) !important;
}
